/myunisave/bin
/myunisaveapi/bin
/UtilityShared/bin
/webapimyunisave/bin
/DTOModelsShared/bin
/DataFactoryShared/bin
/MySqlDlayerShared/bin
/CommonCURDOperation/bin
/DataProviderServiceShared/bin
/myunisaveapi/obj
/myunisave/obj
/webapimyunisave/obj
/UtilityShared/obj
/DTOModelsShared/obj
/DataFactoryShared/obj
/MySqlDlayerShared/obj
/CommonCURDOperation/obj
/DataProviderServiceShared/obj
